.brand {
    margin-top: 11.4rem;
}
.brand__container {
}
.brand__title {
}
.brand__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}
.brand__col {
    width: 10%;
    height: 110px;
    padding: 0 .5rem;
    margin-bottom: 8px;

    @media (max-width: 992px) {
        width: 16.666%;
    }

    @media (max-width: 768px) {
        width: 25%;
    }

    @media (max-width: 480px) {
        width: 50%;
    }
}
.brand__item {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),#59B8C5;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    transition: all .2s linear;

    &:hover {
        box-shadow: 3px 5px 20px -9px rgb(120, 120, 120), -3px 5px 10px -10px #000;
    }
}
.brand__item-icon {
    width: 100%;
    max-width: 50px;
}
.brand__item-text {
    width: 100%;
    max-width: 80px;
    margin: auto;
}