.btn {
    min-height: 4rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
    background-color: rgb(38, 154, 15);
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Montserrat';
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    
    &:hover {
        background-color: darken(rgb(38, 154, 15), 5%);
    }
}