.btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    background-color: #59B8C5;
    padding: 20px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: #fff;
        color: #59B8C5;
    }

    @media (max-width: 480px) {
        padding: 2rem;
        font-size: 1.4rem;
    }
}