.create {
    background: #ECF6F8;
    padding-top: 73px;
    padding-bottom: 37px;
}
.create__container {
}
.create__form {
}
.create__suptitle {
    margin-bottom: 9px;
    width: 100%;
    input {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 24px;
        color: rgba(0, 171, 170, 0.5);
        width: 100%;
        outline: 0;

        &::placeholder {
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 24px;
            color: rgba(0, 171, 170, 0.5);

            @media (max-width: 480px) {
                font-size: 20px;
            }
        }

        @media (max-width: 480px) {
            font-size: 20px;
        }
    }
}
.create__title {
    margin-bottom: 49px;
    width: 100%;
    input {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 40px;
        color: rgba(0, 171, 170, 0.5);
        width: 100%;
        outline: 0;

        &::placeholder {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 40px;
            color: rgba(0, 171, 170, 0.5);

            @media (max-width: 480px) {
                font-size: 30px;
            }
        }

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
}
.create__text {
    width: 100%;
    textarea {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 24px;
        color: rgba(0, 171, 170, 0.5);
        outline: 0;
        width: 100%;
        background: none;
        resize: none;
        border: 0;
        min-height: 700px;

        &::placeholder {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 24px;
            color: rgba(0, 171, 170, 0.5);
        }
    }
}
.create__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create__bottom-item {
    margin-right: 29px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 480px) {
        width: 40px;

        img {
            width: 100%;
        }
    }
}