.device {
}
.device__container {
}
.device__title {
}
.title-block {
}
.device__inner {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}
.device__col {
    flex: 0 1 25%;
    padding: 0 1rem;
    margin-bottom: 3rem;
    cursor: pointer;

    @media (max-width: 992px) {
        flex: 0 1 33.333%;
    }

    @media (max-width: 768px) {
        flex: 0 1 50%;
    }

    @media (max-width: 550px) {
        flex: 1 1 100%;
    }
}
.device__item {
    border-radius: 16px;
    padding: 27px 32px 32px 32px;
    background: linear-gradient(0deg,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),#59B8C5;
    transition-duration: .2s;
    min-height: 275px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s linear;

    &:hover {
        box-shadow: 3px 5px 20px -9px rgb(120, 120, 120), -3px 5px 10px -10px #000;
    }
}
.device__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: left;
    color: #101828;
    text-transform: capitalize;
}
.device__item-subtitle {
    font-size: 1.4rem;
    line-height: calc(20 / 14);
    color: #101828B2;
    float: left;
    margin-top: 7px;
    font-weight: 400;
}
.device__item-circle {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    bottom: 0%;
    margin: -69px 0 0 -69px;
    background: #0089c1;
    opacity: 1;
    z-index: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(180deg,rgba(89,184,197,0.04) 0,rgba(89,184,197,0.32) 100%);

    @media (max-width: 768px) {
        left: 40%;
    }

    @media (max-width: 550px) {
        left: 50%;
    }
}
.device__item-photo {
    position: relative;
    text-align: center;
    width: 100%;

    img {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    @media (max-width: 768px) {
        margin-top: 4rem;
    }

    @media (max-width: 550px) {
        max-width: 200px;
        margin: auto;
    }
}