.discount {
    margin-top: 11.4rem;
}
.discount__container {
}
.discount__title {
    margin-bottom: 3.4rem;
}
.discount__inner {
    display: flex;
    position: relative;
    margin: 0 -1rem;
    @media (max-width: 1300px) {
        margin-top: 8rem;
    }
}
.discount__col {
    flex: 0 1 25%;
    padding: 0 1rem;
    padding-top: 5rem;
}
.discount__item {
    background: #59B8C5;
    border-radius: 16px;
    padding: 24px;
    height: 100%;
}
.discount__item-photo {
    margin-top: -64px;
    text-align: center;
}
.discount__item-suptitle {
    margin-top: 2rem;
    font-size: 14px;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
}
.discount__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #fff;
    margin-bottom: 16px;
}

/* -------------------------------------- */

/* Слайдер */
.slick-slider {}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) 
*/.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.discount__inner .slick-arrow{
    position: absolute;
    top: 40%;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 0;

    @media (max-width: 1300px) {
        top: -10%;
    }
}
/* Стрелка влево */
.discount__inner .slick-arrow.slick-prev{
    left: -5rem;
    background: url("https://remont-marino.ru/local/templates/remont_marino-lastversion/images/ico/slider-arrows.png");
    cursor: pointer;

    @media (max-width: 1300px) {
        left: 0;
    }
}
/* Стрелка вправо */
.discount__inner .slick-arrow.slick-next{
    right: -4rem;
    background: url("https://remont-marino.ru/local/templates/remont_marino-lastversion/images/ico/slider-arrows.png");
    transform: rotate(180deg);
    cursor: pointer;

    @media (max-width: 1300px) {
        left: 6rem;
    }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
}
/* Точки (булиты) */
.discount__inner .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
    align-items: center;
}
.discount__inner .slick-dots li{
    margin: 1.6rem;
    width: 8px;
    height: 8px;
    background: #59b8c533;
    margin: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
/* Активная точка */
.discount__inner .slick-dots li.slick-active{
    background: #59B8C5;
    height: 16px;
    width: 16px;
    border-radius: 100%;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
}