.footer {
    background-color: #222d31;
    padding-top: 34px;
    padding-bottom: 5px;
    overflow: hidden;
}
.footer__container {
}
.footer__main {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }

    @media (max-width: 650px) {
        justify-content: center;
    }
}
.footer__logo {
    width: 40%;

    @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 4rem;
    }
}
.footer__logo-top {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
}
.footer__logo-top-logo {
    display: flex;

    @media (max-width: 480px) {
        margin-bottom: 2rem;
    }
}
.footer__logo-top-img {
    margin-right: 1.2rem;
}
.footer__logo-top-text {
}
.footer__logo-top-suptitle {
    color: #59B8C5;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.footer__logo-top-title {
    opacity: 0.4;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    color: #fff;
}
.footer__logo-bottom {
}
.footer__logo-inner {
    display: flex;
    align-items: center;
}
.footer__logo-item {
    display: flex;
    margin-right: 2rem;
    align-items: center;

    &:last-child {
        margin-right: 0;
    }
}
.footer__logo-star {
    margin-right: 2rem;
}
.footer__logo-item-value {
    color: #fff;
    font-size: 21px;

    span {
        font-size: 14px;
        color: #808080;
    }
}
.footer__logo-item-mark {
    color: #808080;
    font-size: 12px;
}
.footer__logo-bottom-text {
    color: #808080;
    font-size: 12px;
    margin-left: 7px;
    margin-top: 1rem;
}
.footer__logo-down {
    display: flex;
    justify-content: space-between;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
}
.footer__logo-socials {
    display: flex;

    @media (max-width: 480px) {
        margin-bottom: 2rem;
    }
}
.footer__logo-social {
    margin-right: 1.1rem;
    transition: all .2s linear;

    &:hover {
        transform: scale(1.2);
    }

    &:nth-child(2) {
        border-radius: 100%;
        width: 3rem;
    }

    &:last-child {
        margin-right: 0;
    }
}
.footer__logo-down-text {
    line-height: 17px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    letter-spacing: -0.01em;
}
.footer__search {
    width: 20%;

    @media (max-width: 992px) {
        width: 30%;
    }
    
    @media (max-width: 650px) {
        width: 48%;
    }

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 3rem;
        max-width: 250px;
        margin: 0 auto 3rem;
    }
}
.footer__title {
    padding-bottom: 21px;
    border-bottom: 1px solid #ffffff2b;
    opacity: 1;
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 25px;
    color: #fff;
}
.footer__search-list {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;

        a {
            font-weight: 300;
            font-size: 12px;
            line-height: 22px;
            color: rgba(255,255,255,1);

            &:hover {
                color: #59B8C5;
            }
        }
    }
}
.footer__contact {
    width: 12%;

    @media (max-width: 992px) {
        width: 30%;
    }

    @media (max-width: 650px) {
        width: 48%;
        max-width: 250px;
    }

    @media (max-width: 480px) {
        width: 100%;
        margin: auto;
    }
}
.footer__contact-list {
    li {
        a {
            font-weight: 300;
            font-size: 12px;
            line-height: 22px;
            color: rgba(255,255,255,1);

            &:hover {
                color: #59B8C5;
            }
        }
    }
}
.footer__info {
    width: 20%;

    @media (max-width: 992px) {
        width: 30%;
    }

    @media (max-width: 650px) {
        width: 100%;
        margin-top: 3rem;
    }
}
.footer__info {
    @media (max-width: 650px) {
        max-width: 250px;
        margin: 3rem auto 0;
    }
}
.footer__info-tel {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.footer__info-address {
    font-size: 14px;
    line-height: calc(20 / 14);
    color: #fff;
    opacity: 0.8;
    margin-top: 2rem;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 24px;
    padding-bottom: 7px;
    margin-top: 2rem;

    @media (max-width: 480px) {
        flex-direction: column;
    }
}
.footer__copy {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #fff;
    opacity: 0.4;

    @media (max-width: 480px) {
        margin-bottom: 2rem;
    }
}
.footer__cards {
    display: flex;
}
.footer__card {
    margin-right: 1rem;

    img {
        filter: grayscale(100%);
    }

    &:last-child {
        margin-right: 0;
    }
}