.intro {
    margin-top: 4rem;
    margin-bottom: 7.5rem;
}
.intro__body {
    background: linear-gradient(0deg,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),#59B8C5;
    border-radius: 1.6rem;
    padding-left: 8rem;
    margin-top: 4.8rem;

    display: flex;
    align-items: center;
    height: 483px;
    position: relative;

    @media (max-width: 992px) {
        padding-left: 1rem;
    }

    @media (max-width: 768px) {
        height: auto;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
    }
}
.intro__content {
}
.intro__suptitle {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(16, 24, 40, 0.7);
    color: #101828;

    @media (max-width: 480px) {
        font-size: 1rem;
    }
}
.intro__title {
    color: #101828;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: calc(52 / 48);
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: 3.5rem;
    }

    @media (max-width: 480px) {
        font-size: 2.5rem;
    }
}
.intro__text {
    font-size: 1.6rem;
    color: rgba(16, 24, 40, 0.7);
    max-width: 470px;
    line-height: calc(24 / 16);
    margin-top: 2rem;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.intro__btn {
    margin-top: 3.4rem;
}
.btn {
}
.intro__photo {
    width: 42%;
    position: absolute;
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
.intro__inner {
    margin-top: 2rem;
    display: flex;

    @media (max-width: 992px) {
        flex-wrap: wrap;
        text-align: center;
    }
}
.intro__item {
    width: 25%;
    display: flex;

    @media (max-width: 992px) {
        width: 50%;
        margin-bottom: 3rem;
        display: block;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}
.intro__icon {
    margin-right: 1rem;

    @media (max-width: 992px) {
        margin-bottom: 1rem;
    }
}
.intro__content {
}
.intro__content-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    position: relative;
    margin-bottom: 1.3rem;
}
.intro__content-text {
    font-size: 1.4rem;
    line-height: calc(20 / 14);
    color: #101828;
    position: relative;
    opacity: 0.7;
    font-weight: 400;
}