.intro {
    background: #ECF6F8;
    padding: 80px 0;
    margin-bottom: 25px;
}
.intro__container {
}
.intro__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}
.intro__left {
    max-width: 500px;
    margin-right: 1rem;

    @media (max-width: 992px) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 2rem;
    }
}
.intro__suptitle {
    font-weight: 300;
    font-size: 24px;
    color: #00ABAA;

    margin-bottom: 8px;
}
.intro__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(49 / 40);
    color: #000000;

    margin-bottom: 60px;
}
.intro__text {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(29 / 24);
    color: #000000;

    @media (max-width: 480px) {
        font-size: 16px;
    }
}
.intro__right {

    @media (max-width: 992px) {
        width: 100%;
    }
}
.intro__photo {
    max-width: 450px;
    img {
        width: 100%;
    }

    @media (max-width: 992px) {
        width: 100%;
        margin: auto;
    }
}