.reviews {
    margin-top: 11.4rem;
}
.reviews__container {
}
.reviews__title {
}
.reviews__inner {
    display: flex;
    margin: 0 -1rem;
}
.reviews__col {
    flex: 0 1 33.333%;
    padding: 0 1rem;
}
.reviews__item {
    border: 1px solid #E5EFF0;
    height: 100%;
    border-radius: 16px;
    padding: 32px;
}
.reviews__item-stars {
    display: flex;
}
.reviews__item-star {
    margin-right: .5rem;

    &:last-child {
        margin-right: 0;
    }
}
.reviews__item-text {
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #101828;
    margin-top: 2.6rem;
}
.reviews__item-bottom {
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
}
.reviews__item-icon {
    margin-right: 1.6rem;
}
.reviews__item-content {
}
.reviews__item-suptitle {
    font-size: 14px;
    opacity: 0.7;
    line-height: calc(20 / 14);
    margin-bottom: 0.5rem;
}
.reviews__item-name {
    color: #3f434a;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
}

.reviews__bottom {
    margin-top: 4.8rem;
    display: flex;
    align-items: center;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.reviews__btn {
    width: 200px;
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 14px 19px;
    background: #59B8C5;
    border-radius: 8px;
    outline: 0;
    border: 0;
    text-decoration: none;
    transition-duration: .2s;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    transition: all .2s linear;

    &:hover {
        background: darken(#59B8C5, 5%);
    }
}
.reviews__links {
    margin-left: 3rem;

    @media (max-width: 480px) {
        margin-left: 0;
        margin-top: 2rem;
    }
}
.reviews__link {
    margin-right: 1rem;
}

/* ------------------------------------ */

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) 
*/.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
.reviews__inner .slick-arrow{
    position: absolute;
    top: -80px;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 0;

    @media (max-width: 480px) {
    }

    @media (max-width: 480px) {
        top: -70px;
    }
}
/* Стрелка влево */
.reviews__inner .slick-arrow.slick-prev{
    right: 6rem;
    background: url("https://remont-marino.ru/local/templates/remont_marino-lastversion/images/ico/slider-arrows.png");
    cursor: pointer;

    @media (max-width: 480px) {
        width: 3rem;
        height: 3rem;
        background-size: cover;
        -webkit-background-size: cover;
        right: 4rem;
    }
}
/* Стрелка вправо */
.reviews__inner .slick-arrow.slick-next{
    right: 0rem;
    background: url("https://remont-marino.ru/local/templates/remont_marino-lastversion/images/ico/slider-arrows.png");
    transform: rotate(180deg);
    cursor: pointer;

    @media (max-width: 480px) {
        width: 3rem;
        height: 3rem;
        background-size: cover;
        -webkit-background-size: cover;
    }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}