.thanks {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thanks__text {
    max-width: 50rem;
    margin: auto;
    background-color: rgb(38, 154, 15);
    font-size: 2rem;
    color: #fff;
    border-radius: 3rem;
    padding: 3rem;
    height: 20rem;

    display: flex;
    align-items: center;    
    justify-content: center;
}